In [1]:
import numpy as np
import pandas as pd

---

## Problem 1  Finding unique pairs in a list.
Example: Input List = [[5, 6], [9, 8], [5,6],[8, 9], [1, 4], [6, 5], [10, 1],[9,7],[9,7]].
The number of unique pairs is 2.

In [2]:
#Method 1
a = [[5, 6], [9, 8], [5,6],[8, 9], [1, 4], [6, 5], [10, 1],[9,7],[9,7]]
a

[[5, 6], [9, 8], [5, 6], [8, 9], [1, 4], [6, 5], [10, 1], [9, 7], [9, 7]]

In [3]:
def unique_list1(lst):
    arr = np.array(lst)
    arr.sort(axis=1)
    temp = arr.view(np.dtype((np.void, arr.dtype.itemsize * arr.shape[1])))
    ignore, inv, ct = np.unique(temp, return_inverse=True, return_counts=True)
    unique = arr[ct[inv] == 1]
    print(unique)
    return len(unique)

In [4]:
unique_list1(a)

[[ 1  4]
 [ 1 10]]

2

In [5]:
#Method 2
def unique_list2(a):
    for lst in a:
        lst.sort() 
    print(a)    
    temp = []
    for lst in a:
        temp.append(a.count(lst))
    print(temp)    
    hello = []
    for i in range(len(a)):
        if temp[i] == 1:
            hello.append(a[i])
    print(hello)
    print('Number of unique pairs ' + str(len(hello)))

In [6]:
unique_list2(a)

[[5, 6], [8, 9], [5, 6], [8, 9], [1, 4], [5, 6], [1, 10], [7, 9], [7, 9]]
[3, 2, 3, 2, 1, 3, 1, 2, 2]
[[1, 4], [1, 10]]
Number of unique pairs 2

## Problem 2 - Finding the grades using Lab, Assignment and Test scores

In [7]:
#Imported the dataset
dataset = pd.read_csv('Grade_data.csv')
dataset

,Student Name,Assignment_1,Assignment_2,Assignment_3,Assignment_4,Test_1,Test_2,Lab_1,Lab_2
0,Jack,80,50,40,20,75,75,78.2,77.20
1,James,82,56,44,30,80,80,67.9,78.72
2,Dylan,77,82,23,39,78,77,80.0,80.00
3,Jessica,67,55,77,21,40,50,69.0,44.56
4,Tom,29,89,60,56,65,56,50.0,40.60

In [8]:
# Created columns for average assignment, test, lab and the final score
dataset['Assignment'] = (dataset['Assignment_1'] + dataset['Assignment_2'] + dataset['Assignment_3'] + dataset['Assignment_4'])/4
dataset['Test'] = (dataset['Test_1'] + dataset['Test_2'])/2
dataset['Lab'] = (dataset['Lab_1'] + dataset['Lab_2'])/2
dataset['Score'] = dataset['Assignment'] * 0.1 + dataset['Test'] * 0.7 + dataset['Lab'] * 0.2
dataset

,Student Name,Assignment_1,Assignment_2,Assignment_3,Assignment_4,Test_1,Test_2,Lab_1,Lab_2,Assignment,Test,Lab,Score
0,Jack,80,50,40,20,75,75,78.2,77.20,47.50,75.0,77.70,72.790
1,James,82,56,44,30,80,80,67.9,78.72,53.00,80.0,73.31,75.962
2,Dylan,77,82,23,39,78,77,80.0,80.00,55.25,77.5,80.00,75.775
3,Jessica,67,55,77,21,40,50,69.0,44.56,55.00,45.0,56.78,48.356
4,Tom,29,89,60,56,65,56,50.0,40.60,58.50,60.5,45.30,57.260

In [9]:
#Function to calculate grade from score
def grade_cal(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'E'

In [10]:
#Created grade column using grade_cal function
dataset['Grade'] = dataset['Score'].apply(grade_cal)
dataset

,Student Name,Assignment_1,Assignment_2,Assignment_3,Assignment_4,Test_1,Test_2,Lab_1,Lab_2,Assignment,Test,Lab,Score,Grade
0,Jack,80,50,40,20,75,75,78.2,77.20,47.50,75.0,77.70,72.790,C
1,James,82,56,44,30,80,80,67.9,78.72,53.00,80.0,73.31,75.962,C
2,Dylan,77,82,23,39,78,77,80.0,80.00,55.25,77.5,80.00,75.775,C
3,Jessica,67,55,77,21,40,50,69.0,44.56,55.00,45.0,56.78,48.356,E
4,Tom,29,89,60,56,65,56,50.0,40.60,58.50,60.5,45.30,57.260,E

In [11]:
dataset.filter(['Student Name', 'Score', 'Grade'])

  Student Name   Score Grade
0         Jack  72.790     C
1        James  75.962     C
2        Dylan  75.775     C
3      Jessica  48.356     E
4          Tom  57.260     E

In [12]:
class_mean = sum(dataset.Score)/len(dataset)
print("Class mean is ", end = "")
print(class_mean)
print('Grade of class will be ' + grade_cal(class_mean))

Class mean is 66.02860000000001
Grade of class will be D

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
dataset=pd.read_csv('train_NIR5Yl1.csv')
x=dataset.iloc[:,[1,2,3,5]].values
y=dataset.iloc[:,-1].values
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder=LabelEncoder()
x[:,0]=labelencoder.fit_transform(x[:,0])
onehotencoder=OneHotEncoder(categories='auto')
x=onehotencoder.fit_transform(x).toarray()
x=x[:,1:]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)
y_pred=regressor.predict(x_test)

MemoryError: